{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock%}

{% block body_block %}

	<div class="page-header">
		<h1>About <small>Rango says here is the about page!</small></h1>
	</div>
	<div>
		<p>Rango wants a picture of Django uploaded from the static media files. now!</p><br />
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<a href="" class="thumbnail">
				<img src="{% static "images/djangorango.jpeg"  alt="Picture of Django" %}">
				</a>
			</div>
		</div>
		
		<h1>Your Visits: {{ visits }}</h1>
		<p>he also wants a alterntive bold dictionary inputs in bold starting here: <strong>{{ twany }}</strong></p>
	</div>

	<button onClick="alert('You clicked the button using Javascript.');">
       Click Me - I run Javascript
	</button>
	<button id="about-btn"> Click Me - I'm Javascript on Speed</button>

	<p>This is a example</p>

	<p>This is another example</p>

{% endblock %}