{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{category_name}}{% endblock %}

{% block body_block %}
	<div class="page-header">
		<h1>{{ category_name }}</h1>
	</div>
	
	<div class="row">
	<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Pages</h3>
		</div>
		<div class="panel-body">
			<form class="form-inline" id="user-form" method="post" action="{% url 'category' category.slug %}" >
			{% csrf_token %}
				<div class="input-group">
					<span class="input-group-btn">
					<button class="btn btn-default" type="submit" name="submit" value="search">Go!</button>
					</span>
					<input type="text" class="form-control" placeholder="Find more relevant pages..." name="query" value="" id="query" />
				</div>
			</form>
		<br />
		<br />
		
		{% if category %}
			{% if pages %}
			<div class="col-lg-8">
				<ul>
				{% for page in pages %}
					<li><a href="{% url 'goto'%}?page_id={{page.id}}" target="_blank">{{ page.title }} | Views: {{page.views}}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<strong>No pages currently in category.</strong><br />
				<a href="/rango/category/{{ category_name_slug }}/add_page/">Be the first one to add a Page!</a>
			{% endif %}
			{% if user.is_authenticated %}
				<form action="/rango/category/{{ category_name_slug }}/add_page/">
					<button type="submit" class="btn btn-success" value="Add Page" >Add Page to category</button>
				</form>
			</div>
			{% endif %}
		{% else %}
			The specified category {{ category_name }} does not exist <br />
			<a href="/add_category">Add the category</a><br />
		{% endif %}
		</div>
		</div>
	</div>
	</div>	

	{% if result_list %}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Search Results for {{ query }}</h3>
			</div>
			<div class="panel-body">
			<!-- Display results in an ordered list -->
				<div class="list-group">
				{% for result in result_list %}
					<div class="list-group-item">
						<h4 class="list-group-item-heading"><a href="{{ result.link }}" target="_blank">{{ result.title }}</a></h4>
						<p class="list-group-item-text">{{ result.summary }}</p>
					</div>
				{% endfor %}
				</div>					
			</div>	
		</div>
	</div>
	{% endif %}

{% endblock %}